.textTable table {
    width: auto;
    text-align: center;
}

.textTable tr th, .textTable tr td{
    border: 1px solid #ddd;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}



.textTable tr .borderRightDashed {
    border-right-color: black;
    border-right-style: dashed;
    border-right-width: 2px;
}

.math {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 20px;
}

code {
    font-size: 15px;
    font-family: 'Hack','Open Sans', sans-serif;
    background-color: white;
    color: black;
    border: 1px;
}

.textTable tr .tableBox {
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.textTable tr .tableRightLine {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: black;
}

.textTable tr .tableBottomLine {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
}

.rectangle {
    width:auto;
    height:auto;
    background: white;
}

.textTable tr td .left {
    display: block;
    text-align: left;
    border: 0;
    border-radius: 3px;
    white-space: initial;
}

.textNextToImg {
    float : left;
    margin-right: 6px;
}