table {
  background-color: whitesmoke;
}

.header {
  width: 100%;
  border-radius: 10px;
}

.header tr th {
  padding-left: 1%;
  width: 5%;
}

.header tr td {
  padding-left: 1%;
  width: auto;
}

.header .title {
  text-align: center;
}

h4 {
  color: blue;
}

.smallTitle {
  color: chocolate;
}

/*
ol, ul {
  margin-top: -5px;
}*/

code {
  color: white;
  font-size: 16px;
  font-family: 'Hack','Open Sans', sans-serif;
  background-color: black;
  padding: 2px 4px;
  margin: 2px;
}

.imgCentre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.cs, .tableNoBorder {
  margin: 5px auto;
}

.cs tr th, .cs tr td, .tableNoBorder tr th, .tableNoBorder tr td {
  text-align: center;
  padding: 2px 15px;
}

.cs .borderLeftDashed {
  border-left: dashed gray 2px;
}

.tableNoBorder .tableLeftBorder {
  border: solid 1px gray;
}

.cs tr th, .tableNoBorder tr th {
  border: solid gray 1px;
  background-color: lightgray;
}


.tableNoBorder tr td {
  border: solid 1px lightgray;
}

.cs tr th, .cs tr td, .tableNoBorder .tableWithBorder {
  border: solid gray 1px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

/* Small devices */
@media only screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: auto;
  }
} 

/* Medium devices */
@media only screen and (min-width: 650px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

/* large devices */
@media only screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.grid-item1 {
  display: grid;
  grid-template-columns: 50px auto;
}

.grid-item1 > div {
  padding: 5px 5px;
  border: solid gray 1px;
}

.grid-item2 {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: lightgray;
}


img {
  padding: 5px 5px;
  background: white;
}

.imgRightMargin {
  margin-right: 10px;
}

.buttomTable {
    width: 100%;
}

.buttomLeftTable {
    width: 45%;
    text-align: left;
}

.buttomCentreTable {
    width: 10%;
    text-align: center;
}

.buttomRightTable {
    width: 45%;
    text-align: right;
}

