table {
  background-color: whitesmoke;
  color: black;
}

.header {
  width: 100%;
  border-radius: 10px;
}

.header tr th {
  padding-left: 1%;
  width: 5%;
}

.header tr td {
  padding-left: 1%;
  width: auto;
}

.header .title {
  text-align: center;
}

.header a {
  color: firebrick;
}

h4 {
  color: blue;
}

.smallTitle {
  color: chocolate;
}

a {
  color: #79dbad;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 10px 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  color: #244234;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  margin: 10px 10px;
}

h4 {
  font-size: 18px;
  color: #79dbad;
}

.imgRightMargin {
  margin-right: 10px;
}

.cs,
.tableNoBorder {
  margin: 5px auto;
}

.cs tr th,
.cs tr td,
.tableNoBorder tr th,
.tableNoBorder tr td {
  text-align: center;
  padding: 2px 15px;
}

.cs .borderLeftDashed {
  border-left: dashed gray 2px;
}

.tableNoBorder .tableLeftBorder {
  border: solid 1px gray;
}

.cs tr th,
.tableNoBorder tr th {
  border: solid gray 1px;
  background-color: lightgray;
}

.tableNoBorder tr td {
  border: solid 1px lightgray;
}

.cs tr th,
.cs tr td,
.tableNoBorder .tableWithBorder {
  border: solid gray 1px;
}

.imgCentre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttomTable {
  width: 100%;
}

.buttomTable a {
  color: firebrick;
}

.buttomLeftTable {
  width: 45%;
  text-align: left;
}

.buttomCentreTable {
  width: 10%;
  text-align: center;
}

.buttomRightTable {
  width: 45%;
  text-align: right;
}

img {
  background: white;
}

/* CS 246 Use */
code {
  font-size: 15px;
  font-family: 'Hack', 'Open Sans', sans-serif;
  background-color: whitesmoke;
  color: black;
  padding: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10%;
}

.ccmd {
  color: #5f5c72;
}

.ckey {
  color: #d73a49;
}

.cvar {
  color: #6f42c1;
}

.cmtd,
.cnum {
  color: #005cc5;
}

.cline {
  color: rgba(27, 31, 35, 0.3);
}

.cmd {
  color: darkgreen;
}

.cmdFile,
.var {
  color: red;
}

.cmdOption,
.name {
  color: purple;
}

.cmdInput {
  color: darkorange;
}

.cmdOutput {
  color: black;
}

.specialTalk {
  color: black;
  background-color: wheat;
  border-color: #faf0dc #b2a182 #595041 #f6e4c0;
  border-width: 5px;
  border-style: solid;
  padding: 4px;
}

.specialTalk h4 {
  color: darkolivegreen;
}
