* {
  box-sizing: border-box;
}

#card-gallery {
  margin-top: 5px;
}

div.gallery {
  background-color: #777;
  padding: 6px 6px;
  border-radius:5px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 8px;
  text-align: center;
}

.desc h3 {
  margin: 0 0;
  font-size: 18px;
}

.desc h4 {
  margin: 0 0;
  font-size: 12px;
}

.pagination-container {
  overflow: hidden;
  display: flex;
  /* display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center; */
}
.pagination-number,
.pagination-button {
  color: white;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #777;
}
.pagination-number.active {
  background: #79DBAD;
}
